{% extends "base.html" %}  <!-- あなたのベーステンプレートに合わせて変更してください -->



{% block content %}
    <h1>{{ teacher.name }}の評価</h1>
    {% for team in teams %}
        <h2>{{ team.name }}</h2>
        <form method="post">
        {% csrf_token %}
        <table border="1" style="border-collapse: collapse">
            <thead>
            <tr>
                <th>問題</th>
                <th>スコア</th>
            </tr>
            </thead>
            <tbody>
            {% for score in team.scores %}
                <tr>
                <td>{{ score.question.title }}</td>
                <td><input type="text">{{ score.form.score }}</td>
                </tr>
            
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="更新">
        </form>
        <p>合計得点: {{ team.total_score }}</p>
    {% empty %}
        <p>チームが存在しません。</p>
    {% endfor %}
{% endblock %}
